@import url("https://fonts.googleapis.com/css?family=Roboto:100");
@font-face {
	font-family: "Helvetica Neue";
	src: local("Helvetica Neue Light"), local("Helvetica-Neue-Light"),
		url("HelveticaNeueCyr-Light.woff2") format("woff2"), url("HelveticaNeueCyr-Light.woff") format("woff"),
		url("HelveticaNeueCyr-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-family: "Helvetica Neue";
	src: local("Helvetica Neue Medium"), local("Helvetica-Neue-Medium"),
		url("HelveticaNeueCyr-Medium.woff2") format("woff2"), url("HelveticaNeueCyr-Medium.woff") format("woff"),
		url("HelveticaNeueCyr-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-family: "Helvetica Neue";
	src: local("Helvetica Neue Bold"), local("Helvetica-Neue-Bold"),
		url("HelveticaNeueCyr-Bold.woff2") format("woff2"), url("HelveticaNeueCyr-Bold.woff") format("woff"),
		url("HelveticaNeueCyr-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
p {
	margin: 0;
	padding: 0;
}
body {
	background: url("./img/placeholder.png") no-repeat scroll top right;
	background-size: contain;
	font-family: "Helvetica Neue", Arial, sans-serif;
	background-color: #1a1a1a;
	margin: 0 auto;
	color: #fff;
}
$width: 1110px;

h1 {
	font-size: 72px;
	margin: 0;
}

a {
	color: #ffff;
	text-decoration: none;
}

.header {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	.container {
		margin: 43px auto;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
	.logo {
		max-width: 200px;
		height: auto;
	}
}
nav {
	word-spacing: 45px;
}
.nav__link:hover {
	color: #34c759;
}
.nav__link_active {
	color: #34c759;
}

.container {
	max-width: $width;
	margin: 80px auto;
	overflow: hidden;
}

.main {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.main__title {
	font-family: "Roboto", sans-serif;
	text-align: center;
	letter-spacing: 10px;
	span {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 700;
		line-height: 60px;
	}
}
.main__subtitle {
	line-height: 26px;
	letter-spacing: -0.2px;
	color: #ffff;
	opacity: 0.7;
	font-weight: 400;
	font-size: 16px;
	max-width: 555px;
	text-align: center;
	margin: auto;
}
button {
	border: none;
	margin: 0;
	padding: 0;
}
.main__button {
	margin: 40px auto;
	background-color: #34c759;
	border-radius: 43px;
	text-align: center;
	color: #1a1a1a;
	font-size: 18px;
	padding: 25px 57px;
	font-weight: 700;
	letter-spacing: 0.2em;
}
.main__button:hover {
	cursor: pointer;
	color: #fff;
}
.contacts {
	margin: 70px auto;
	max-width: 1100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	width: 100%;

	.contacts__wrapper {
		max-width: 245px;
		max-height: 95px;
	}
	.contacts__subtitle {
		opacity: 0.5;
		font-size: 14px;
		font-weight: 400;
		line-height: 0;
		mix-blend-mode: normal;
	}
}
.about {
	width: 100%;
	height: auto;
	padding-top: 60px;
	padding-bottom: 90px;
	background-color: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	text-align: center;
}

.about__description {
	padding: 60px 0px 90px 0px;
	font-weight: 400;
	max-width: 734px;
	color: #a6a6a6;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	margin: auto;
}
.slider {
	max-width: $width;
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	.slider__button {
		max-width: 100%;
		height: auto;
	}
}
.slider__content {
	img {
		max-width: 100%;
		height: auto;
	}
}
.title {
	width: 100%;
	position: relative;
	transform: translate(10px, 10px);
}
.title__name {
	text-align: center;
	z-index: 2;
	font-style: normal;
	color: #d9d9d9;
	font-weight: 400;
	font-size: 30px;
	line-height: 60px;
	letter-spacing: 0.2em;
}
.title_border {
	width: 100%;
	position: relative;
	transform: translate(10px, 10px);
}
.title_border::after {
	display: block;
	content: "";
	width: 60px;
	height: 1px;
	background-color: #34c759;
	position: absolute;
	bottom: -50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
}
.events {
	margin: auto;
	max-width: $width;
	text-align: center;
}
.title__background {
	display: block;
	position: absolute;
	line-height: 130px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	font-weight: 900;
	font-size: min(100px, 15vw);
	letter-spacing: 0.2em;
	color: #303030;
	text-transform: uppercase;
	margin: 0;
}

.events-list {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
	margin-top: 90px;
	max-width: 100%;
	.events-list__wrapper {
		background-color: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		text-align: left;
		max-height: 206px;
		max-width: 255px;
	}
	.events-list__title {
		position: relative;
		padding: 24px;
		font-weight: 400;
		font-size: 22px;
		line-height: 25.65px;
		letter-spacing: -0.28px;
	}

	.events-list__description {
		color: #ffffff80;
		opacity: 50%;
		font-size: 13px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: -0.16px;
		padding: 10px 31px 42px 24px;
	}
}
.events-list__title::after {
	display: block;
	content: "";
	width: 60px;
	height: 1px;
	background-color: #34c759;
	position: absolute;
	bottom: 0;
	left: 20%;
	transform: translate(-50%, -50%);
	z-index: 999;
}
.events-list__wrapper:hover {
	cursor: pointer;
	background-color: #34c759;
	color: #191919;
	border-radius: 6px;
	opacity: 1;
	.events-list__title::after {
		background-color: #191919;
	}
	.events-list__description {
		color: #191919;
		opacity: 1;
	}
}
.dishes {
	max-width: $width;
	margin: 120px auto;

	.dishes__title {
		padding: 30px 30px 0px 30px;
		font-weight: 400;
		font-size: 32px;
		line-height: 30px;
		color: #d9d9d9;
	}
	.dishes__subtitle {
		padding-left: 30px;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: -0.15px;
		color: #a4a8b2;
	}
	.dishes__description {
		padding: 20px 30px 0px 30px;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: -0.1625px;
		color: #85878c;
	}
}
.dishes__list {
	margin-top: 90px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}
.dishes__img {
	max-width: 100%;
	height: auto;
}
.dishes__share-button {
	max-width: 100%;
	height: auto;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 10%;
	right: 0%;
	cursor: pointer;
}
.dishes__list-item {
	position: relative;
	padding-bottom: 24px;
	background-color: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	max-width: 350px;
	max-height: 493px;
}
.dishes__buttons {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.dishes__order-button {
	background: #262626;
	color: rgba(255, 255, 255, 0.5);
	border: 2px solid #303030;
	border-radius: 30px;
	font-weight: 900;
	font-size: 10px;
	line-height: 40px;
	padding: 0px 32px;
	&:hover {
		background-color: #34c759;
		color: #252525;
		cursor: pointer;
	}
}
.dishes__raiting-number {
	font-weight: 900;
	font-size: 12px;
	letter-spacing: 1.5px;
	color: #b3b3b3;
}
.dishes__stars {
	display: flex;
	flex-direction: row-reverse;
}
.dishes__stars[data-total="1"] .dishes__raiting-stars-border:nth-child(n + 5),
.dishes__stars[data-total="2"] .dishes__raiting-stars-border:nth-child(n + 4),
.dishes__stars[data-total="3"] .dishes__raiting-stars-border:nth-child(n + 3),
.dishes__stars[data-total="4"] .dishes__raiting-stars-border:nth-child(n + 2),
.dishes__stars[data-total="5"] .dishes__raiting-stars-border:nth-child(n + 1) {
	rect {
		fill: #f9ad3d;
	}
}
.dishes__stars-border:hover,
.dishes__stars-border:hover ~ .dishes__stars-border {
	rect {
		fill: #f9ad3d;
		cursor: pointer;
	}
}
footer {
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	.footer__header {
		border-bottom: 2px solid #303030;
	}
	.slogan {
		opacity: 0.5;
		font-size: 14px;
		font-weight: 400;
		line-height: 0;
		mix-blend-mode: normal;
	}
	.footer__logo {
		margin-top: 40px;
		text-align: center;
		font-weight: 400;
		text-align: center;
		color: #737373;

		p {
			margin-top: 13px;
			margin-bottom: 0;
			padding-bottom: 30px;
		}
		img {
			max-width: 207px;
			width: 100%;
			height: auto;
		}
	}
}
