.footer {
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.footer__header {
  padding: 30px 0px;
  border-bottom: 2px solid #303030;
}

.footer__container {
  text-align: center;
  padding: 30px 0px;
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.footer__description {
  margin-top: 12px;
}