.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    z-index: 999;
    display: flex;
    padding: 1em;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
    background-color: #252525;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 1.1);
}

.cart__hidden {
    visibility: hidden;
}

.cart__header {
    position: relative;
}

.cart__close {
    background-color: transparent;
    font-size: 40px;
    color: #ffffff;
    position: absolute;
    right: 10px;
}

.cart__close:hover {
    color: #34c759;
    cursor: pointer;
    transition: 0.3s;
}

.cart__placeholder-img {
    width: 140px;
    height: 140px;
}

.cart__placeholder {
    display: block;
}

.cart__placeholder_hidden {
    display: none;
}

.cart__order {
    display: flex;
    font-size: 17px;
    padding: 10px 10px 10px 10px;
    border-radius: 50px;
    background-color: #34c759;
    color: #252525;
}

.cart__total {
    position: absolute;
    right: 35px;
}

.cart__text {
    line-height: 30px;
    letter-spacing: 1px;
}

.cart__clue {
    letter-spacing: 1px;
}

.cart__list {
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 100%;
    gap: 0.5em;
}

.cart__clean {
    text-align: center;
    padding: 10px 10px;
}

.cart__clean:hover {
    color: #34c759;
    cursor: pointer;
    transition: 0.3s;
}

.cart__open {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 60px;
    bottom: 60px;
}

.cart__open:hover {
    cursor: pointer;
}

.cart__list.cart__list_empty {
    justify-content: center;
    align-items: center;
}

.cart__list_empty {
    display: none;
}

.cart__item {
    padding-top: 50px;
    display: flex;
    gap: 11px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.cart__item_img {
    img {
        width: 100px;
        height: auto;
    }
}

.cart__item_title {
    width: 40px;
}

.cart__item_counter {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.cart__button_plus {
    padding: 10px 14px;
    border: 2px solid #303030;
    background: #262626;
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    cursor: pointer;
}

.cart__button_minus {
    padding: 10px 14px;
    border: 2px solid #303030;
    background: #262626;
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    cursor: pointer;
}

.cart__item_couner-txt {
    padding: 10px;
    font-weight: 600;
}

.cart__button_plus:hover {
    background-color: #34c759;
    color: #252525;
    transition: 0.3s;
}

.cart__button_minus:hover {
    background-color: #34c759;
    color: #252525;
    transition: 0.3s;
}

.cart__item_price {
    display: flex;
}

.cart__float-btn {
    position: fixed;
    background-color: #34c759;
    color: #252525;
    padding: 3px 7px;
    font-size: 13px;
    right: 70px;
    bottom: 109px;
    border-radius: 50%;
}

.cart__placeholder_empty {
    visibility: hidden;
}
